<a href="https://colab.research.google.com/github/Ranjith1816/internship-assessment/blob/main/assess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
import sqlite3

In [7]:
orders_df = pd.read_csv("/content/orders.csv")

orders_df.head()

orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         10000 non-null  int64
 1   user_id          10000 non-null  int64
 2   restaurant_id    10000 non-null  int64
 3   order_date       10000 non-null  object
 4   total_amount     10000 non-null  float64
 5   restaurant_name  10000 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 468.9+ KB

In [8]:
users_df = pd.read_json("/content/users.json")

users_df.head()
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     3000 non-null   int64
 1   name        3000 non-null   object
 2   city        3000 non-null   object
 3   membership  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

In [9]:
conn = sqlite3.connect("/content/restaurants.db")
cursor = conn.cursor()

In [12]:
with open("/content/restaurants.sql", "r") as file:
    sql_script = file.read()

# Fix: Drop table if it already exists before creating it
sql_script = "DROP TABLE IF EXISTS restaurants;\n" + sql_script

cursor.executescript(sql_script)
conn.commit()

In [13]:
restaurants_df = pd.read_sql_query(
    "SELECT * FROM restaurants",
    conn
)

restaurants_df.head()
restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_id    500 non-null    int64
 1   restaurant_name  500 non-null    object
 2   cuisine          500 non-null    object
 3   rating           500 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 15.8+ KB

In [14]:
orders_users_df = pd.merge(
    orders_df,
    users_df,
    how="left",
    on="user_id"
)

In [15]:
final_df = pd.merge(
    orders_users_df,
    restaurants_df,
    how="left",
    on="restaurant_id"
)

In [16]:
final_df.head()
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  object
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 937.6+ KB

In [18]:
final_df.to_csv(
    "/content/final_food_delivery_dataset.csv",
    index=False
)

In [19]:
from google.colab import files
files.download("/content/final_food_delivery_dataset.csv")